# 💾 Android Studio & Gradle
.gradle/
.idea/
captures/
*.iml
*.hprof

# Build директории
/build/
**/build/
**/out/

# API-ключи и конфиденциальные данные
local.properties
*.keystore
*.jks
secrets.properties

# Настройки IntelliJ IDEA / Android Studio
*.iws
*.ipr
*.swp
*.swo

# Кэширование библиотек
.cxx/
.externalNativeBuild/
.cordova/
.cocoapods/
.metadata/
.p4ignore

# Логи и дампы
*.log
log/
logs/
hs_err_pid*
crashlytics/

# Картинки, кеши, временные файлы
fastlane/report.xml
fastlane/screenshots/
fastlane/test_output/
*.log

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar

# Настройки CI/CD
/.github/workflows/*.yml
*.apk
*.aab
*.ipa
